<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doanandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnAndroid" >
        <activity
            android:name=".Intro_Login.UpdatePassword"
            android:exported="false" />
        <activity
            android:name=".SelectLocationActivity"
            android:exported="false" />
        <activity
            android:name=".DiaDiemActivity"
            android:exported="true" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".Intro_Login.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Intro_Login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Intro_Login.LoginWithPhoneNumber"
            android:exported="true" />
        <activity
            android:name=".Intro_Login.Login"
            android:exported="true" />
        <activity
            android:name=".Intro_Login.OnBoardingActivity"
            android:exported="true" />
        <activity
            android:name=".Intro_Login.Intro"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>